<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="mondialrelaypickuppoint.prices" class="MondialRelayPickupPoint\Loop\Prices" />
        <loop name="mondialrelaypickuppoint.area-attributes" class="MondialRelayPickupPoint\Loop\AreaAttributes" />
        <loop name="mondialrelaypickuppoint.insurances" class="MondialRelayPickupPoint\Loop\Insurances" />

        <loop name="mondialrelaypickuppoint.delivery-price" class="MondialRelayPickupPoint\Loop\DeliveryPrice" />
        <loop name="mondialrelaypickuppoint.pickup-points" class="MondialRelayPickupPoint\Loop\PickupPoints" />
        <loop name="mondialrelaypickuppoint.selected-pickup-point" class="MondialRelayPickupPoint\Loop\SelectedPickupPoint" />

        <loop name="mondialrelaypickuppoint.freeshipping" class="MondialRelayPickupPoint\Loop\FreeShipping" />
        <loop name="mondialrelaypickuppoint.area.freeshipping" class="MondialRelayPickupPoint\Loop\AreaFreeShipping" />

    </loops>

</config>
